    /*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */
    /*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
    /* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
 @import url(https://fonts.googleapis.com/css?family=Karla:400,700);
    
    html {
        color: #222;
        font-size: 1em;
        line-height: 1.4;
    }
    
    body,
    html {
        height: 100%;
    }
    /*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
    
    ::-moz-selection {
        background: #b3d4fc;
        text-shadow: none;
    }
    
    ::selection {
        background: #b3d4fc;
        text-shadow: none;
    }
    /* apply a natural box layout model to all elements, but allowing components to change */
    
    html {
        box-sizing: border-box;
    }
    
    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }
    /*
 * A better looking default horizontal rule
 */
    
    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #ccc;
        margin: 1em 0;
        padding: 0;
    }
    /*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
    
    audio,
    canvas,
    iframe,
    img,
    svg,
    video {
        vertical-align: middle;
    }
    /*
 * Remove default fieldset styles.
 */
    
    fieldset {
        border: 0;
        margin: 0;
        padding: 0;
    }
    /*
 * Allow only vertical resizing of textareas.
 */
    
    textarea {
        resize: vertical;
    }
    /* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
    
    .browserupgrade {
        margin: 0.2em 0;
        background: #ccc;
        color: #000;
        padding: 0.2em 0;
    }
    /* ==========================================================================
   Author's custom styles
   ========================================================================== */
    /*----------GLOBAL & TYPOGRAPHY-----------*/
    
    body {
        font-family: 'Karla', 'helvetica', sans-serif;
        font-size: 16px;
    }
    
    h1 {
        font-size: 2.5em;
        font-weight: 700;
        color: white;
    }
    
    h2 {
        font-weight: 700;
        font-size: 1.5em;
    }
    
    h3 {}
    
    p {
        color: black;
        font-weight: 400;
    }
    
    ul {
        padding: 0;
    }
    
    section {
        position: relative;
        height: 100%;
    }


    /*----------INITIAL & MENU Section-----------*/
    
    
    #initial {
        overflow: auto;
        position: relative;
        width: 100%;
    }
    
    #initial:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        z-index: -1;
        display: block;
        background-image: url('../img/Melb_DSC_3342.jpg');
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 100%;
        -webkit-filter: grayscale(1) contrast(0.3);
        /* Chrome, Safari, Opera */
        filter: grayscale(1) contrast(0.3);
    }
    
    .content {
        margin: 0;
        width: 100%;
        position: absolute;
        top: 40%;
        text-align: center;
    }
    
    .hamburger {
        display: inline;
        color: rgba(53, 80, 103, 0.8);
        background-color: rgba(255, 255, 255, 0);
        padding: 3px 7px 4px 7px;
        float: right;
    }
    
    header div.logo img {
        width: 8em;
        display: inline;
        float: left;
    }
    
    header {
        position: fixed;
        width: 100%;
        height: auto;
        padding: 5% 5% 2% 5%;
        cursor: pointer;
        z-index: 9999;
    }
    
    .expand {
        background-color: rgba(200, 200, 200, 0.8);
    }
    
    nav {
        display: block;
        width: 100%;
    }
    
    nav ul {
        overflow: hidden;
        width: 0;
        float: right;
        height: 0;
        background-color: rgba(255, 255, 255, 0);
        clear: both;
        margin: 0;
        -webkit-transition: all 0.7s ease-in-out;
        transition: all 0.7s ease-in-out;
    }
    
    nav ul.open {
        display: block;
        height: 220px;
        width: 100%;
        -webkit-transition: all 0.7s ease-in-out;
        transition: all 0.7s ease-in-out;
    }

    
    nav li {
        list-style-type: none;
        text-align: center;
        padding: 30px 15px;
        margin: 0 30%;
        border-bottom: 1px solid black;
    }
    
    nav li:last-child {
        border-bottom: 5px;
    }
    
    nav ul li a {
        text-decoration: none;
        color: black;
        display: block;
    }
    
    nav ul li a:hover {
        color: white;
        transition: color 0.3s ease-out;
    }

    
    img {
        width: 100%;
        height: auto;
    }

    /*----------PORTFOLIO Section-----------*/
    
    #portfolio {
        position: relative;
        background-color: #888;
        width: 100%;
        height: auto;
        overflow: auto;
        padding: 0;
        margin: 0 auto;
    }
   

    /*-----Slider-----*/
    
    .slideContainer {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        position: relative;
        white-space: nowrap;
    }
    
    .slideContainer li {
        background-color: white;
        width: 100%;
        display: inline-block;
        display: none;
    }
    
    .slideContainer img {
        width: 100%;
        height: auto;
        opacity: 1;
    }
    
    .imagefade {
        -webkit-animation: imagefade 0.5s ease-in-out;
        /* Chrome, Safari, Opera */
        animation: imagefade 0.5s ease-in-out;
    }
    
    @-webkit-keyframes imagefade {
        0% {
            left: 0;
            opacity: 0;
        }
        100% {
            left: 100%;
            opacity: 1;
        }
    }
    
    .title {
        position: absolute;
        top: 15%;
        left: 5%;
        color: white;
        opacity: 0.6;
        font-weight: 700;
        font-size: 3rem;
        z-index: 10;
        margin: 0;
    }
    
    h3.title {
        margin-top: 15%;
        font-size: 1.5rem;
    }

    
    .previous {
        width: 20%;
        height: 100%;
        padding: 5%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 1;
        z-index: 100;
        color: rgba(0, 0, 0, 0);
        cursor: pointer;
    }
    
    .previous:hover {
        color: rgba(255, 255, 255, 0.4);
    }
    
    .previous-btn {
        position: absolute;
        top: 45%;
        left: 50%;
        font-size: 2em;
        font-weight: 400;
        transform: translate(-50%, -50%);
        height: 20%;
        padding: 20px;
        background-color: rgba(0, 0, 0, 0);
        border-style: none;
    }
    
    .next {
        width: 20%;
        height: 100%;
        padding: 5%;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 100;
        margin: auto 0;
        color: rgba(0, 0, 0, 0);
        cursor: pointer;
    }
    
    .next:hover {
        color: rgba(255, 255, 255, 0.4);
    }
    
    .next-btn {
        position: absolute;
        top: 45%;
        left: 50%;
        font-size: 2em;
        font-weight: 400;
        transform: translate(-50%, -50%);
        height: 20%;
        padding: 20px;
        background-color: rgba(0, 0, 0, 0);
        border-style: none;
    }


    /*----------PLAYGROUND Section-----------*/
    
    #playground {
        display: flex;
        color: #B4B0B1;
        margin: 0;
        height: auto;
        width: 100%;
        background-color: #9a9a9a;
    }
    
    .flex-container {
        display: flex;
        flex-wrap: wrap;
        z-index: 0;
    }
    
    .flex {
        width: 50%;
        height: 50%;
        align-items: center;
        overflow: visible;
    }
    
   /* ---- Will need if odd amount for mobile view ----

    .flex:nth-child(9) {
        display: none;
    } */
    
    .flex img {
        width: 100%;
        height: auto;
        display: inline;
        -webkit-filter: grayscale(1) contrast(0.3);
        /* Chrome, Safari, Opera */
        filter: grayscale(1) contrast(0.3);
        -webkit-transition: 0.7s; -webkit-filter: ease;
        /* Chrome, Safari, Opera */
        transition: 0.7s ease;
    }
    
    .flex img:hover {
        -webkit-filter: none;
        /* Chrome, Safari, Opera */
        filter: none;
        -webkit-transition: 0.7s; -webkit-filter: ease;
        /* Chrome, Safari, Opera */
        transition: 0.7s ease;
    }
    
    
    .large {
        display: block;
        clear: both;
        width: 100%;
        height: 100%;
        z-index: 99;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.8);
        transition: none;
    }



    /*----------ABOUT Section-----------*/
    
    #about {
        overflow: visible;
        position: relative;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.0);
    }
    
    #about:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        z-index: -1;
        display: block;
        background-image: url("../img/About_1920.jpg");
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 100%;
        -webkit-filter: grayscale(1) contrast(0.3);
        /* Chrome, Safari, Opera */
        filter: grayscale(1) contrast(0.3);
    }

    
    #about .contact {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.3);
        color: white;
        float: left;
        padding: 15% 5%;
    }
    
    #about .where {
        width: 100%;
        float: left;
        padding: 3% 5%;
        color: white;
        background-color: rgba(0, 0, 0, 0.4);
    }
    
    .where a {
        display: inline-block;
        width: 30px;
        margin-right: 10px;
    }
    
    .where ul li {
        list-style-type: none;
        margin-top: 10px;
    }
    
    .totop {
        position: fixed;
        bottom: 5%;
        right: 5%;
        font-size: 0.5em;
        font-weight: 700;
        color: rgba(255, 255, 255, 0.5);
        transition: bottom 0.3s ease;
        z-index: 999;
    }
    
    a.totop {
        text-decoration: none;
    }
    
    .totop:hover {
        bottom: 5.5%;
    }
    
    #about legend {
        font-size: 1.5rem;
        font-weight: 600;
        margin: 0;
    }
    
    label,
    input {
        width: 100%;
        height: 2em;
        margin-bottom: 1em;
    }
 
    input {
        color: black;
    }
    
    input[type="submit"] {
        width: 50%;
        color: #666;
    }
    /* ==========================================================================
   Helper classes
   ========================================================================== */
    /*
 * Hide visually and from screen readers
 */
    
    .hidden {
        display: none !important;
    }
    /*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
    
    .visuallyhidden {
        border: 0;
        clip: rect(0, 0, 0, 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    /*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
    
    .visuallyhidden.focusable:active,
    .visuallyhidden.focusable:focus {
        clip: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        position: static;
        width: auto;
    }
    /*
 * Hide visually and from screen readers, but maintain layout
 */
    
    .invisible {
        visibility: hidden;
    }
    /*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
    
    .clearfix:before,
    .clearfix:after {
        content: " ";
        /* 1 */
        display: table;
        /* 2 */
    }
    
    .clearfix:after {
        clear: both;
    }
    /* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
    
    @media only screen and (min-width: 35em) {
        /* Style adjustments for viewports that meet the condition */
    }
    
    @media print,
    (-webkit-min-device-pixel-ratio: 1.25),
    (min-resolution: 1.25dppx),
    (min-resolution: 120dpi) {
        /* Style adjustments for high resolution devices */
    }
    /* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
    
    @media print {
        *,
        *:before,
        *:after,
        *:first-letter,
        *:first-line {
            background: transparent !important;
            color: #000 !important;
            /* Black prints faster:
        
            
            http://www.sanbeiji.com/archives/953 */
            box-shadow: none !important;
            text-shadow: none !important;
        }
        a,
        a:visited {
            text-decoration: underline;
        }
        a[href]:after {
            content: " (" attr(href) ")";
        }
        abbr[title]:after {
            content: " (" attr(title) ")";
        }
        /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
        a[href^="#"]:after,
        a[href^="javascript:"]:after {
            content: "";
        }
        pre,
        blockquote {
            border: 1px solid #999;
            page-break-inside: avoid;
        }
        /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
        thead {
            display: table-header-group;
        }
        tr,
        img {
            page-break-inside: avoid;
        }
        img {
            max-width: 100% !important;
        }
        p,
        h2,
        h3 {
            orphans: 3;
            widows: 3;
        }
        h2,
        h3 {
            page-break-after: avoid;
        }
    }
    
    @media screen and (min-width: 480px) {
        /* Desktop styles - screens at 480px and above */
        /*----------INITIAL & MENU Section-----------*/
        #initial {
            height: 100%;
        }
        /* Should be here*/
        nav ul {
            overflow: hidden;
            width: 0;
            float: right;
            height: 0;
            background-color: rgba(255, 255, 255, 0);
            clear: both;
            margin: 0;
            -webkit-transition: all 0.7s ease-in-out;
            transition: all 0.7s ease-in-out;
        }
        /*----------PORTFOLIO Section-----------*/
        #portfolio {
            background-color: #888;
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
            position: relative;
        }
   
        .title {
            font-size: 6rem;
        }
        h3.title {
            margin-top: 10%;
            font-size: 3rem;
        }
        
        
        /*----------PLAYGROUND Section-----------*/
        
        #playground {
            height: auto;
            position: relative;
        }
        .flex-container {
            object-position: 50% 50%;
            overflow: hidden;
        }
        .flex {
            width: 25%;
            height: 50%;
            align-items: center;
            /* align vertical */
        }
        .flex:nth-child(9) {
            display: inline-block;
        }
        .large {
            display: block;
            clear: both;
            padding: 0% 25%;
            width: 100%;
            height: 100%;
            z-index: 99999;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
        }
        
        
        /*----------ABOUT Section-----------*/
        
        #about {
            position: absolute;
        }
        #about .contact {
            width: 33.333%;
            color: white;
            height: 100%;
            float: left;
            padding: 12% 5%;
        }
        #about .where {
            width: 66.666%;
            padding: 12% 5%;
            height: 100%;
        }
    }